*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'MiFuenteAltone';
    src: url('../src/fonts/AltoneTrial-Bold.ttf') format('truetype');
   
  }
@font-face {
    font-family: 'AltoneRegular';
    src: url('../src/fonts/AltoneTrial-Regular.ttf') format('truetype');
   
  }
.mainFontBold {
    font-family: 'MiFuenteAltone';
}
.mainFontRegular {
    font-family: 'AltoneRegular';
}

.mi-span {
  display: block;
  margin: 0 !important;
  line-height: 1;
}

.performanceTxt {
  letter-spacing: -2px;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.rowReverse{
  display: flex;
}

.slidedivImg {
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
  justify-items: center!important;
  align-content: center;
}

.titleChangelife {
  font-weight: bold;
  font-size: 1.5em;
  color: #1E3868 ;
}

@media (min-width: 600px) {
  .performanceTxt {
      letter-spacing: 1px; /* Pantallas medianas */
  }
  
}

@media (max-width: 767px) {
  .rowReverse {
    flex-direction: column-reverse;
  }
}

@media (min-width: 1000px) {
  .performanceTxt {
      letter-spacing: 8px; /* Pantallas grandes */
  }
  .titleChangelife {
    font-size: 3em;
  }
}